@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
  scroll-behavior: smooth;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --white: #fff;
  --black: #000;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --bgColor: #f6f9ff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  font-family: "jost", sans-serif;
  background: var(--bgColor);
  color: #444444;
  font-weight: 400;
}


.body a {

  text-decoration: none;
  cursor: pointer;
}

.body a:hover{

  text-decoration: none;
}

.body h1,.body h2,.body h3,.body h4,.body h5,.body h6{
  font-family: "jost", sans-serif;
  font-weight: 700;
  color: #012970;
}