/* components/CustomSwiper.module.css */

.swiperContainer {
    position: relative;
    overflow: hidden;
  }
  
  .swiperWrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .swiperSlide {
    flex: 0 0 auto;
  }
  
  @media (min-width: 768px) {
    .swiperSlide {
      padding: 15px; /* Adjust padding for medium screens */
    }
  }
  
  @media (min-width: 1024px) {
    .swiperSlide {
      padding: 20px; /* Adjust padding for large screens */
    }
  }
  
  .prevButton,.nextButton{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #27011d7b;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  
  .prevButton:hover,.nextButton:hover{
    background-color: var(--primary);
    border: none;
    color: white;
  }
  